.form__input_type_username {
  margin: 0 auto;
  margin-bottom: 30px;
  padding-bottom: 13px;
  min-width: 260px;
  color: #cccccc;
  border: none;
  outline: none;
  border-bottom: 2px solid #cccccc;
  background-color: #000000;
}

.form__input_type_username::placeholder {
  color: #cccccc;
  opacity: 0.5;
}

@media (min-width: 1024px) {
  .form__input_type_username {
    width: 358px;
  }
}
